{% extends "blog/base.html" %}

{% block content %}
	<h1>Welcome to Micro-Blog</h1>
	<div>
		The site provides you the ability to Post blogs and Comment.
		<br>
		Getting started - 
		<div style="text-indent: 50px ">
			<li> Register yourself by clicking on Register link.</li>
			<li> After successsful registration, proceed to Login. </li>
		</div>
		
		Features - 
		<div style="text-indent: 50px ">
			<li> Create/Update/Delete posts. </li>	
			<li> Comment on Posts. </li>
			<li> Only the author of post has access to approve/delete the commnets of other users. </li>
			<li> Other user can see only approved comments on posts. </li>
			<li> Pagination of blog posts. (5 per page)</li>
			<li> Register. </li>
			<li> Login/Logout/Forgot Password. </li>
			<li> Edit profile. </li>
			<li> Upload profile picture. </li>	
		</div>
		
		Register and Login to get started...	
	</div>
	

{% endblock content %}